.faq {
  padding-top: 73px;
  padding-bottom: 65px;
  text-align: center;
  background:
    linear-gradient(rgba(47, 50, 75, 0.85), rgba(47, 50, 75, 0.85)),
    url('../img/bg_faq.jpg') no-repeat center;
    color: #fff;
}

.faq__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 18px;
}

.faq__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.faq__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 19px;
  margin-bottom: 49px;
}

.faq__input {  
  width: 426px;
  padding: 9px 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  background: none;
  border: none;
  border: 1.4px solid #fff;
  border-radius: 50px;
}

.faq__btn {
  display: block;
  padding: 12px 38px;
  font-size: 20px;
line-height: 23px;
  background: #15A9CB;
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border: none;
  border-radius: 50px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 52px;
}

.faq__personal {
  font-size: 20px;
  line-height: 23px; 
}

.faq__approval {
  color: #4A76A8;
  border-bottom: 1px solid #4A76A8;
}


@media (max-width: 1024px) {
  
  .faq {
    padding-top: 73px;
    padding-bottom: 56px;
  }
  
  .faq__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
  }
  
  .faq__subtitle {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 48px;
  }
  
  .faq__form {
    row-gap: 17px;
  }
  
  .faq__input {  
    width: 380px;
    padding: 8px 23px;
    font-size: 20px;
    line-height: 23px;
  }
  
  .faq__btn {
    padding: 12px 39px;
    margin-bottom: 30px;
  }

  .faq__personal {
    font-size: 17px;
    line-height: 20px;
  }
}


@media (max-width: 480px) {
  .faq {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .faq__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 11px;
  }
  
  .faq__subtitle {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 36px;
  }
  
  .faq__form {
    gap: 13px;
    margin-bottom: 44px;
  }
  
  .faq__input {  
    width: 290px;
    padding: 6px 18px;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #fff;
  }
  
  .faq__btn {
    padding: 7px 18px;
    margin-bottom: 30px;
  }
  
  .faq__personal {
    font-size: 11px;
    line-height: 13px;
  }
}
