.footer {
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #2F324B;
}

.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__navigation_copyright {
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer__copyright {
  width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
}

.footer__author {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
}

.footer__additional {
  display: none;
}


@media (max-width: 1024px) {

  .footer {
    padding-top: 40px;
    padding-bottom: 49px;
  }
  
  .footer__author {
    margin-right: 25px;
  }
}


@media (max-width: 768px) {
  .footer__additional {
    display: block;
    background-color: #2A2C3F;
    text-align: center;
    padding: 18px 80px;     
  }
  
  .footer__author {
    display: none;
  }

  .footer__additional_author {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
    filter: opacity(0.5);
  }
}


@media (max-width: 480px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 28px;
  }

  .footer__copyright {
    width: 88px;
    font-size: 8px;
    line-height: 11px;
  }

  .navigation__contact_phone {
    display: block;
  }

  .footer__additional {
    padding: 11px 70px;
  }
}